{% if categories %}
<div class="jumbotron mp0">
	<div class="container">
	<ul class="nav navbar-nav">	 
	{% for category in categories %} 
	   	{% if category.name == 'CATEGORIAS' %}
	  	<li>
				<div class="dropdown">
				<!-- categorias nivel 1 -->
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{category.name}}<span class="caret"></span></button>
					<!-- CATEGORIAS nivel 1, verifica se tem filhos -->
					{% if category.children  %}
					<ul class="dropdown-menu">
				     	<!-- categorias nivel 2 -->
							 	{% for nivel2 in category.children %}
										<li class="dropdown-submenu">
											<a class="test" tabindex="-1" href="#">{{nivel2.name}}</span></a>
												<!-- categorias nivel 3 -->
												{% if nivel2.children %}
											   	<ul class="dropdown-menu">
													{% for nivel3 in nivel2.children %}															
																	<li class="dropdown-submenu">
																		<a class="test" href="#">{{nivel3.name}}</span></a>
																			<!-- categorias nivel 4 -->
											              	{% if nivel3.children %}
																   			<ul class="dropdown-menu">
																		    	{% for nivel4 in nivel3.children %}																	    			
																				   	<li><a href="{{nivel4.href}}">{{nivel4.name}}</a></li>																				
																					{% endfor %}
																				</ul>
															 				{% endif %}	
																	 	<!-- / categorias nivel 4 -->
																	</li>											
														{% endfor %}
												  </ul>
												{% endif %}												
										</li>
								{% endfor %}
				  		<!-- / categorias nivel 2 -->
					</ul>	
					{% endif %}	
					<!--/ categorias nivel 1 -->
				</div>
	  	</li>
		{% else %}
			<!-- categorias nivel 1 sem drop down -->
	  	<li><a href="#">{{ category.name }}</a></li>		
		{% endif %}		
	{% endfor %}
	</ul>
</div>	
</div>	
{% endif %} 
<script type="text/javascript"><!--
$(document).ready(function(){
	$('.dropdown').hover(function(){ 
			$('.dropdown-toggle', this).trigger('click'); 
	});
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
//--></script>
