{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	 
	 <div class="row">
	 <div class="col-lg-12">
      <ul class="customer-account"><h2>{{ text_my_account }}</h2>
        <li class=" col-sm-2"><a href="{{ edit }}"><i class="fa fa-pencil-square" aria-hidden="true"></i><hr />Editar Conta</a></li>
        <li class=" col-sm-2"><a href="{{ password }}"><i class="fa fa-key" aria-hidden="true"></i><hr />{{ text_password }}</a></li>
        <li class=" col-sm-2"><a href="{{ address }}"><i class="fa fa-book" aria-hidden="true"></i><hr />{{ text_address }}</a></li>
      </ul>
     </div>
	 </div>
	  
	  
      {% if credit_cards %}
	  <div class="row">
	  <div class="col-lg-12">
      <ul class="customer-account"><h2>{{ text_credit_card }}</h2>
        {% for credit_card in credit_cards %}
        <li  class=" col-sm-2"><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
        {% endfor %}
       </ul>
      </div>
	  </div>
      {% endif %}
	  
	  
      
      <div class="row">
	  <div class="col-lg-12">
      <ul class="customer-account"><h2>{{ text_my_orders }}</h2>
        <li  class=" col-sm-2"><a href="{{ order }}"><i class="fa fa-shopping-bag" aria-hidden="true"></i><hr />Pedidos</a></li>
        <li  class=" col-sm-2"><a href="{{ return }}"><i class="fa fa-retweet" aria-hidden="true"></i><hr />Devolução</a></li>
        <li  class=" col-sm-2"><a href="{{ transaction }}"><i class="fa fa-money" aria-hidden="true"></i><hr />{{ text_transaction }}</a></li>
        </ul>
       </div>
	   </div>
	   
	   
      
  
      
	  <div class="row">
	  <div class="col-lg-12">
	  <ul class="customer-account"><h2>{{ text_my_newsletter }}</h2>
        <li  class=" col-sm-2"><a href="{{ newsletter }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i><hr />{{ text_newsletter }}</a></li>
      </ul>
	  </div>
	  </div>
	  
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}